body {
    background-color: beige;

    background-image: url("daft.jpg");
  }

  header{
    font-size: 32px;
  }
aside{
  float:right;
  margin:25px;
  padding:10px;
  border:5px solid;
  height: 150px;
  width: 150px;
  background-color: aquamarine;
}

    footer {
      position: fixed;
      text-align: center;
      
    }

    #git {
      height: 30px;
      width: 30px;
    
    }

    #hector{
      height:300px;
      width: 400px;

      align-content: center;
      text-align: center;
      margin:80px;
      font-size:40px;
      font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
      color:purple;

    }
    